---
title: Sam Hopkins | About & Contacts
description: 'Contacts information and CV'
layout: base.njk
permalink: /about
slug: about
---

{% set about = collections.about | first %}

<div class="container">
  <div class="contacts_grid">
    <div class="contacts_card">
      <h3>Contact</h3>
      <ul class="contacts__list">
        <li class="contacts__listItem">
          <a href="mailto:{{ about.data.email }}">{{ about.data.email }}</a>
        </li>
        <li class="contacts__listItem">
          <a href="tel:{{ about.data.phone }}">tel: {{ about.data.phone }}</a>
        </li>

        {% for s in about.data.socialMediaLinks %}
          <li class="contacts__listItem contacts__listItem--underlined">
            <a href="{{ s.link }}">{{ s.title }}</a>
          </li>
          {%endfor%}

        </ul>
      </div>

      <div class="contacts__cvList">
        <a href="#" class="contacts__cvListItem">
        CV 2023
        <div class='cvListItem__arrow-right'></div>
        </a>
        <a href="#" class="contacts__cvListItem">
        CV 2022
        <div class='cvListItem__arrow-right'></div>
        </a>
        <a href="#" class="contacts__cvListItem">
        CV 2021
        <div class='cvListItem__arrow-right'></div>
        </a>
      </div>
      <div class="contacts__info">
        Sam Hopkins is an artist and scholar who is attentive to the ways in
        which narratives and truths are encoded and produced by different media.
        His work is rooted in Kenya and engages with specific networks to
        collectively interrupt authoritative narratives of power. He explores
        various ways of 'co-producing' artworks as counter narratives that can
        be read both within and beyond the gallery/museum. Hopkins has
        participated in various international exhibitions, including biennales
        in Lagos, Dakar, Poznan, and Moscow, and has exhibited at a wide range
        of museums and galleries, including the Dortmunder U, Kunstmuseum Bonn,
        Kunsthaus Bregenz, the Goodman Gallery, and Richard Taittinger Gallery.
        His work is held in the collections of the Smithsonian, Gendenkstätte
        Buchenwald, Abteiberg Museum, Rautenstrauch-Joest Museum and the
        Iwalewahaus. In 2014 he was named one of the 100 Leading Global Thinkers
        by Foreign Policy Magazine. He currently works as an Assistant Professor
        at the Academy of Media Arts in Cologne and continues to develop his
        research in Nairobi.
      </div>
      <div class="contacts__cv">
        <h3 class="contacts_cv_header">CV</h3>
        <section class="accordion">
          <div class="tab">
            <input type="checkbox" name="accordion-1" id="cb1"/>
            <label for="cb1" class="tab__label">Education</label>
            <div class="tab__content">
              <ul>
                {% for el in about.data.educationList %}
                  <li>{{ el }}</li>
                  {%endfor%}
                </ul>
              </div>
            </div>
            <div class="tab">
              <input type="checkbox" name="accordion-1" id="cb2"/>
              <label for="cb2" class="tab__label"
            >Exhibitions and Festivals (selection)</label
          >
              <div class="tab__content">
                <ul>
                  {% for el in about.data.exhibitionList %}
                    <li>{{ el }}</li>
                    {%endfor%}
                  </ul>
                </div>
              </div>
              <div class="tab">
                <input type="checkbox" name="accordion-1" id="cb3"/>
                <label for="cb3" class="tab__label"
            >Residencies, Awards and Scholarships</label
          >
                <div class="tab__content">
                  <ul>
                    {% for el in about.data.residencyList %}
                      <li>{{ el }}</li>
                      {%endfor%}
                    </ul>
                  </div>
                </div>
                <div class="tab">
                  <input type="checkbox" name="accordion-1" id="cb4"/>
                  <label for="cb4" class="tab__label">Research Projects</label>
                  <div class="tab__content">
                    <ul>
                      {% for el in about.data.researchList %}
                        <li>{{ el }}</li>
                        {%endfor%}
                      </ul>
                    </div>
                  </div>
                  <div class="tab">
                    <input type="checkbox" name="accordion-1" id="cb5"/>
                    <label for="cb5" class="tab__label">Teaching</label>
                    <div class="tab__content">
                      <ul>
                        {% for el in about.data.teachingList %}
                          <li>{{ el }}</li>
                          {%endfor%}
                        </ul>
                      </div>
                    </div>
                    <div class="tab">
                      <input type="checkbox" name="accordion-1" id="cb6"/>
                      <label for="cb6" class="tab__label"
            >Conferences and Presentations</label
          >
                      <div class="tab__content">
                        <ul>
                          {% for el in about.data.conferenceList %}
                            <li>{{ el }}</li>
                            {%endfor%}
                            {# <li>
                2023: Presentation — Temporality, Accessibility and
                Restitution: Strategies to Reflect on Long-Term Collaborative
                Film Projects, part of "What is the role of reflection and
                reflexive methods in Artistic Research?" React and Reflect,
                Hochschule für Musik und Tanz, Köln (GER)
              </li>
                  <li>
                2022: Presentation — Re-connecting “Objects”, 12th Berlin
                Biennale, Kunstwerke, Berlin (GER)Presentation — Simba Mbili:
                Potential Histories of the Man-Eaters of Tsavo, Menagerie
                virtueller Tiere, Rühr Universität Bochum
              </li>
                  <li>
                2021: Symposium Co-organiser - Gamification vs Play, Times of
                Hands, The Academy of the Arts of the World, Cologne (GER)
              </li>
                  <li>
                2020: Panel Chair — Object Movement Dialogue #3, International
                Inventories Programme (IIP), Rautenstrauch-Joest Museum,
                Cologne (GER)
              </li>
                  <li>
                2018: Presentation — Letter to Lagat, Invisible Inventories,
                part of "Contemporary African artistic practice: political
                forms and issues", Musée d’Aquitaine and LAM, Bordeaux (FRA)
              </li>
                  <li>
                2017: Presentation - The Bike Gang — Bikes and Belonging in
                the Off Road Base, part of "Mediating senses of belonging:
                Aesthetics, affects, ethnography", Congress for the Deutsche
                Gesellschaft für Völkerkunde (DGV), Berlin (GER)
              </li>
                  <li>
                2015: Roundtable co-organiser - "Mashup as Defiance: Culture,
                Appropriation, Post-colonialism" and "Aura: The Object in
                Postcolonial Art collections", Mashup exhibition, Bayreuth
                (GER)
              </li>
                  <li>
                2014: Presentation — The Memory of the Crowd: The Potential of
                New Media Platforms to reimagine Narratives in Kenya, School
                of Oriental and African Studies, London (UK)Presentation —
                Channels through the institution — Undermining the colonial
                legacy of museums and expositions'', part of "Crawling
                Doubles. Colonial Collecting and Affect", 8th Berlin Biennale,
                Berlin (GER)'Presentation — Mashup the Archive: Remix and
                Tumult at the Iwalewahaus, part of "Collecting Geographies -
                Global Programming and Museums of Modern Art", Stedelijk
                Museum Amsterdam (NL)
              </li>
                  <li>
                2013: Presentation - Mashup, Artists With(out) borders, Bern
                (CH)Presentation — Conceptualising Future, Bayreuth Academy of
                Advanced African Studies (GER)Presentation — Art as an
                Argument; with Brian O'Doherty and Eugen Gomringer, Bayreuth
                Kunsthalle, (GER)
              </li>
                  <li>
                2012: Presentation — The Memory of the Crowd, part of
                "Ueber(w)unden; Art in troubled times", Goethe Institut
                Johannesburg (SA)
              </li> #}
                          </ul>
                        </div>
                      </div>

                      <div class="tab">
                        <input type="checkbox" name="accordion-1" id="cb7"/>
                        <label for="cb7" class="tab__label"
            >Publications and Articles (selection)</label
          >
                        <div class="tab__content">
                          <ul>
                            <span class="list__subtitle">Citations</span>
                            <li>
                2020: Nur Goni, Marian. 'Agents in motion: how objects make
                people move. An interview with Sam Hopkins and Simon
                Rittmeier' Third Text Africa, no. 12, August 2020
              </li>
                            <li>
                2016: Bajorek, Jennifer. 'Beyond the “NGO Aesthetic”' Social
                Text 127, Vol. 34, No. 2, June 2016
              </li>
                            <li>
                Marcel, Olivier. "Ochuo, Du Bidonville Au Cube Blanc:
                Géographie D'une Rencontre Globale."Cahiers D'Études
                Africaines 56, no. 223 (2016)
              </li>
                            <li>
                2015: Vierke, Ulf. 'Archive, Art and Anarchy: From the
                Topological Archive to the Anarchic Archive', African Arts,
                vol. 48, no. 2 summer 2015
              </li>
                            <li>
                2013: Bounakoff, Pierre Nicholas, Katharina Greven and Nadine
                Siegert eds, Iwalewa: Four Views into Contemporary Africa,
                Iwalewahaus: Bayreuth
              </li>
                            <li>
                2012: Hossfeld, Johannes. Mwangalio Tofauti: Nine Kenyan
                Photographers, Nairobi, Native Intelligence
              </li>
                            <li>
                Förster, Larissa, Christian Hanussek and Kerstin Pinter (eds).
                Afropolis: City/Media/Art, Johannesburg: Jacana Media
              </li>

                            <span class="list__subtitle">Authored</span>
                            <li>
                2023: Hopkins, Sam. Nairobi Distributed,
                Johannesburg/Bayreuth: Iwalewa Books (upcoming)
              </li>
                            <li>
                Hopkins, Sam and Simon Rittmeier. A Topography of Loss in
                Marian Nur Goni (eds) Trouble Dans Les Collections (#4, March
                2023),
              </li>
                            <li>
                2021: Hopkins, Sam and Marian Nur Goni (eds), Invisible
                Inventories — the zine,Jo'burg/Bayreuth: Iwalewa Books
              </li>
                            <li>
                Hopkins, Sam. 'WTF is Gamification? A Brief and Biased
                Overview' in Madhusree Dutta (ed) CC: (vol 2. 2021), Cologne:
                Academy of the Arts of the World
              </li>
                            <li>
                2020: Hopkins, Sam. 'Being Contemporary' in Hans Ulrich Reck
                (ed), Journal der KHM #12, Cologne: Kunsthochschule für Medien
              </li>
                            <li>
                2017: Hopkins, Sam and Nadine Siegert (eds). MASHUP The
                Archive, Berlin: Revolver Books
              </li>
                            <li>
                2016: Hopkins, Sam. The Rubbish Companion, Cologne:
                Strezelecki Books
              </li>
                            <li>
                2015: Hopkins, Sam and Simon Rittmeier. Letter to Lagat,
                Cologne: Strzelecki Books
              </li>
                            <li>
                Hopkins, Sam and Ulf Vierke (eds). Maasai Mbili: Contact Zones
                (vol 13), Nairobi: Native Intelligence
              </li>
                            <li>
                2012: Slum TV. Grassroots Upgraded: Reflection on Nairobi's
                Eastlands, Oostkamp: Stichting Kunstboak,
              </li>
                            <li>
                Cavallo, Vincenzo & Sam Hopkins 'Ghosts Provoke Violence' in
                Heidenreich-Seleme, Lien and S O'Toole (eds), Über(W)unden:
                Art in Troubled Times, Johannesburg: Jacana Media
              </li>
                            <li>
                2011: Hopkins, Sam and Johannes Hossfeld. Sam Hopkins: Contact
                Zones (vol 2), Nairobi: Native Intelligence
              </li>
                          </ul>
                        </div>
                      </div>
                    </section>
                  </div>
                  <div class="contacts_designedby">
        designed by: shoplift.design
      </div>
                </div>
              </div>