---
permalink: bundle.css
---
{% include "styles/base.css" %}
{% include "styles/variables.css" %}
{% include "styles/reset.css" %}
{% include "styles/header.css" %}
{% include "styles/cardindexcabinet.css"%}
{% include "styles/projectPreview.css"%}
{% include "styles/projectView.css"%}
{% include "styles/pictureSliders.css"%}
{% include "styles/contacts.css"%}