---
permalink: bundle.css
---
{% include "styles/variables.css" %}
{% include "styles/fonts.css" %}
{% include "styles/reset.css" %}

{% include "styles/layout.css" %}
{% include "styles/header.css" %}
{% include "styles/cardindexcabinet.css"%}
{% include "styles/projectPreview.css"%}
{% include "styles/projectView.css"%}
{% include "styles/contacts.css"%}
{% include "styles/projectView.css"%}
{% include "styles/imagesPage.css"%}

{% include "styles/imageSwiper.css"%}
{% include "styles/relatedAndMoreCards.css"%}
{% include "styles/footer.css"%}
{% include "styles/mainPage.css"%}
