<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "shared/htmlhead.njk" %}
    <meta name="description" content="Sam Hopkins projects images">

    <!-- Open Graph Meta Tags for Social Media Sharing -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="Projects images">
    <meta property="og:url" content="https://{{ env.DOMAIN_NAME }}/images">
    <meta property="og:type" content="website">

    <!-- Author Information -->
    <meta name="author" content="Sam Hopkins">

    <!-- Canonical URL -->
    <link rel="canonical" href="https://{{ env.DOMAIN_NAME }}/images">
  </head>
  <body>
    
      {% include 'header.njk' %}
      {{ content | safe }}
    {% include "shared/swiperScripts.njk" %}
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js" defer ></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Draggable.min.js" defer ></script>
  </body>
</html>