<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "shared/htmlhead.njk" %}
  </head>
  <body>
    <div class="global-container">
      <div class='container'>
        {% include 'header.njk' %}
      </div>
      {{ content | safe }}
    </div>
  </body>
  {% include "shared/netlifyIdentity.njk" %}
  {% include "shared/swiperScripts.njk" %}
</html>