---
layout: base.njk
style: bundle.css
---

<body>
    {% set project = {
        data: {
            title: title,
            dates: dates,
            collaborators: collaborators,
            cardDescription: cardDescription
        }
    } %}

    <p> this is a project </p>

    <link rel="stylesheet" href="bundle.css">
    <article>

    <div class="projectView_Grid">
        <card>
            {% include 'summary-card.njk'  %}
        </card>
        <pictures>df</pictures>
        <navigation>df</navigation>
        <imgcaption>asd</imgcaption>
        <main>
            <div id="projectView_outer">
                <div class="projectView_ScrollArticle">
                    {{content | safe}}
                </div>
            </div>
        </main>
    </div>

    </article>

    <script>
        document.getElementById('projectView_outer').addEventListener('wheel', function (e) {
            // Cross-browser wheel delta
            var delta = e.wheelDelta ? e.wheelDelta : -e.deltaY;
            this.scrollLeft -= (delta);
            e.preventDefault();
        }, false);
    </script>

</body>