{%- set showButton = false -%}
<div class="relatedAndMore_container">
  <div class="cardcabinet_grid greenish" id="relatedProjectsGrid"> 
    {%- for collection_project in collections.project -%}
      {%- set mustBeShown = false -%}

      {%- for relatedProject in related_projects_data.relatedProjects -%}
        {%- if (collection_project.data.title == relatedProject) or (collection_project.data.id == relatedProject) -%}
          {%- set mustBeShown = true -%}
          {%- set showButton = true -%}
        {%- endif -%}
      {%- endfor -%}

      {%- if mustBeShown == false -%}
        {%- for checkId in collection_project.data.relatedProjects -%}
          {%- if related_projects_data.ownId == checkId -%}
            {%- set mustBeShown = true -%}
            {%- set showButton = true -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}

      {%- if mustBeShown -%}
        {% set qpreviewURL = collection_project.data.title | slug %}
        {%- set qpreviewURLfull = '/preview/' + qpreviewURL -%}

        {%- set card_data = { 
          data: {
              targetUrl: qpreviewURLfull,
              title: collection_project.data.title,
              dates: collection_project.data.dates,
              collaborators: collection_project.data.collaborators,
              cardDescription: collection_project.data.cardDescription,
              relatedProjects: collection_project.data.relatedProjects
          }
        } -%}
        <a href="{{qpreviewURLfull}}" class="summary-card-wrap dynamic-wrap">
          {%- include "summary-card.njk" -%}
        </a>
      {%- endif -%}
    {%- endfor -%}
  </div>

  {%- if showButton -%}
    <button class="related_projects_button"
      onclick="scrollToElement('related_projects_button')">
      Related projects
    </button>
  {%- endif -%}
</div>

<script>
    function scrollToElement(className) {
        var element = document.querySelector('.' + className);
        if (element) {
            element.scrollIntoView({ behavior: 'smooth', block: 'start' });
        }
    }
</script>