{% if preview.relatedProjects.length > 0 -%}
    <div class="preview_related_projects_container">
        <button class="related_projects_button" onclick="scrollToElement('related_projects_button')">Related projects:</button>
    </div>

    <div class="cardcabinet_grid alt" id="relatedProjectsGrid">
        {%- for relatedProject in preview.relatedProjects -%}
            {%- for project in collections.project -%}
                {%- if project.data.title == relatedProject.project -%}
                    {%- include "summary-card.njk" -%}
                {%- endif -%}
            {%- endfor -%}
        {%- endfor -%}
    </div>
{%- endif -%}

<div class="preview_related_projects_container">
    <button class="related_projects_button" onclick="window.scrollBy(0, 1000)">More projects:</button>
</div>
<div class="cardcabinet_grid alt" id="moreProjectsGrid">
    {%- for project in collections.project -%}
        {%- include "summary-card.njk" -%}
    {%- endfor -%}
</div>

<script>
    function scrollToElement(className) {
        var element = document.querySelector('.' + className);
        if (element) {
            element.scrollIntoView({ behavior: 'smooth', block: 'start' });
        }
    }
</script>