<div class="cardcabinet_summaryCard">
    <div class = "cardcabinet_oulineBox">
        <h2 class="cardcabinet_cardTitle"><a href="{{previewURL}}"> <font> {{project.data.title}} </font> </a></h2>

        {% if project.data.dates %}
        <p class="cardcabinet_dates"> <font color=#6D0B0A> {{project.data.dates}} </font> </p>
        {% endif %}

        {% if project.data.collaborators %}
        <p class="cardcabinet_collaborators"> <font color=#6D0B0A> with: {{project.data.collaborators}} </font> </p>
        {% endif %}

        <p class="cardcabinet_cardDescription"> <font color=#6D0B0A> {{project.data.cardDescription}} </font> </p>
    </div>
</div>