<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "shared/htmlhead.njk" %}
  </head>
  <body>
    {% include 'header.njk' %}
    {{ content | safe }}
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js" defer ></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/Draggable.min.js" defer ></script>
  </body>
</html>