.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0;
  background-color: var(--color-secondary);
}

.global-container {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #ff000000;
}
