.projectPreview_textContainer{


  width: 100%;
  height: 100%;
}

#projectPreview_outer {
  padding-top: 41px;
  padding-bottom: 70px;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position:absolute;
  
  box-sizing: border-box;
}


.projectPreview_ScrollArticle {
  column-fill: auto;
  column-width: 878px; 
  column-gap: 44px;

  max-width: 878px;

  height: 100%;
  padding-left: 13px;
  padding-right: 13px;
  word-break: break-word;
  white-space: normal;

  position:relative;

  
  @media screen and (max-width: 878px) {
    max-width: 80%;
  }
}

.projectPreview_phantomColumn{
  height: 100px;
  width: 100px;
  
  position: relative;
  /*left: 0px;*/
  left: 0px;
  /*left:2500px;*/
  background-color: rgb(140, 0, 145);
}

.projectPreview_phantomTrigger{
  background-color: blueviolet;
  height: 100%;
  width: 1px;
  right: 0px;
  position: absolute;
}


.projectPreview_ScrollArticle > p > img {
  display: none;
}

.projectPreview_ScrollArticle > img {
  display: none;
}

.projectPreview_mainTextContainer{
  height: 100%;
  width: flex;
  position: relative;
  background-color: var(--color-white);
}

.related_projects_button{
  /*position: absolute;
  left: 0px;
  bottom: -70px;
  */
  position: absolute;
  bottom: 0px;

  height: 31px;
  width: 229px;

  background-color: var(--color-primary);
  border-style: none;
  color: var(--color-secondary);
}

.preview_related_projects_container{
  position: relative;

  top: 35px;

  width: 100%;
  height: 60px;
  border-bottom: 1px solid var(--color-primary);
}

.projectPreview_buttonFullProject_container{
  position: absolute;
  
  height: 61px;
  width: 229px;

  right: 50px;
  bottom: 8px;
  

  background-color: var(--color-secondary);
  color: blue;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* transition: bottom 0.7s ease;
  transition: height 0.7s ease;
  transition: right 0.7s ease; */
  /*animation: slideRight 0.3s ease;*/
}

@keyframes slideTop {
  0% {
    /*right: 50px;*/
    height: 64px;
    bottom: 8px;
  }
   50%{
    /*right: 50px;*/
    height: 288px;
    bottom: 90px;
  } 
  100% {
    /*right: 200px;*/
    height: 288px;
    bottom: 90px;
  }
}

@keyframes slideBottom {
  100% {
    /*right: 50px;*/
    height: 64px;
    bottom: 8px;
  }
  0% {
    /*right: 200px;*/
    height: 288px;
    bottom: 90px;
  }
}

@keyframes arrow_slideTop{
  0%{
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
  }
  100%{
    border-top: 143px solid transparent;
    border-bottom: 143px solid transparent;
  }
}

@keyframes arrow_slideBottom{
  0%{
    border-top: 143px solid transparent;
    border-bottom: 143px solid transparent;
  }
  100%{
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
  }
}

.projectPreview_buttonFullProject_container > a{
  color: var(--color-primary);
}

.projectPreview_buttonFullProject_arrowRight {
  position: absolute;
  right: -20px;
  top: 0;
  width: 0;
  height: 100%;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 20px solid var(--color-secondary);
  background-color: transparent;
  
  transition: border-top 0.3s ease;
  transition: border-bottom 0.3s ease;
}

.projectPreview_Grid {
  display: grid;
  width: 100%;
  height: 600px;
  grid-template-areas:
      "card pictures"
      "navigationpanel navigationpanel"
      "main main";
  grid-template-rows: 203px 30px 416px;
  grid-template-columns: 443px minmax(0, 1fr);/*I don't know why auto set its size to over 9000*/
}
.projectPreview_Grid > card {
  grid-area: card;
  background-color: #f0f0f0;
}

.projectPreview_Grid > pictures {
  grid-area: pictures;
  background-color: transparent;
}

.projectPreview_Grid > navigationpanel {
  background-color: #ff0000;
  position: relative;
  grid-area: navigationpanel;
  width: 100%; 
  position: relative;
}

.projectPreview_Grid > navigationpanel {
  background-color: aqua;
  width: 150px;
  right: 0px;
  bottom: 0px;
  justify-self: end;
}
.navigation_buttons_group{
  justify-self: end;
  display: flex;
  height: 100%;
  background-color: black;
}
/*.navigation_buttons_group > navigation-button{

}*/

.projectPreview_Grid > imgcaption {
  grid-area: caption;
  background-color: #ff6a00;
}

.projectPreview_Grid > main {
  grid-area: main;
  background-color: #0000ff;
}
