.contacts_grid {
  padding-top: 57px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr;

  gap: 30px;
  width: 100%;
}

.contacts_card {
  padding-top: 30px;

  height: fit-content;

  grid-column: 1;
  grid-row: 1;
}

.contacts__cvList {
  grid-column: 1;
  grid-row: 2;
}

.contacts_designedby {
  grid-column: 1;
  grid-row: 3;
  padding-top: 110px;

  font-size: 14px;
  line-height: 18.23px;
  font-weight: 300;
}

.contacts__info {
  grid-row: 1 / 4;
  grid-column: 2;

}
.contacts__cv {
  grid-row: 1 / 4;
  grid-column: 3;
}

@media screen and (max-width: 1000px) {
  .contacts_grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
  }

  .contacts_card {
    grid-column: 1;
    grid-row: 1;
  }

  .contacts__cvList {
    padding-top: 60px;

    grid-row: 4;
    grid-column: 1;
  }

  .contacts__info {
    padding-top: 80px;

    grid-row: 2;
    grid-column: 1;
  }

  .contacts__cv {
    padding-top: 72px;

    grid-row: 3;
    grid-column: 1;
  }

  .contacts_designedby {
    padding-top: 81px;

    grid-row: 5;
    grid-column: 1;
  }
}

.contacts_card h2 {
  font-size: 14px;
  color: var(--color-black);
  padding: 0;
  margin: 0;
  padding-left: 13px;
  padding-bottom: 11px;
}

.contacts_cv_header {
  margin-top: 0px;
}

.contacts__cvListItem {
  display: block;
  position: relative;
  height: 60px;

  background: var(--color-white);
  max-width: 210px;
  padding-left: 16px;
  padding-top: 20px;
  padding-bottom: 22px;
  margin-bottom: 10px;

  color: var(--color-primary);
  text-decoration: none;
}

.contacts__list {
  list-style: none;
  padding: 0;
  border-bottom: 1px solid var(--color-black);
}

.contacts__listItem {
  border-top: 1px solid var(--color-black);
}

.contacts__listItem a {
  color: var(--color-black);
  text-decoration: none;
  display: block;

  padding-left: 12px;
  padding-top: 6px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}

.contacts__listItem--underlined a {
  text-decoration: underline;
}

.cvListItem__arrow-right {
  position: absolute;
  right: -20px;
  top: 0;

  width: 0; 
  height: 0; 
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  
  border-left: 20px solid var(--color-white);
}

/* Core styles/functionality */

.tab {
  margin-bottom: 8px;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab input:checked ~ .tab__content {
  max-height: 4000px;
}
.tab__content ul {
  padding: 0;
  margin: 0;
  padding-left: 16px;
  margin-bottom: 16px;
}

.tab input:checked ~ .tab__label {
  font-weight: 600;
}

.list__subtitle {
  display: block;
  margin-top: 20px;
  margin-left: -14px;
}

/* Visual styles */
.accordion {
  /* overflow: hidden; */
}
.tab__label,
.tab__close {
  display: flex;
  cursor: pointer;
}
.tab__label {
  color: var(--color-primary);
  /* border: 1px solid var(--color-primary); */

  justify-content: space-between;
  margin-bottom: 8px;
}

.tab__content p {
  margin: 0;
}
.tab__close {
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
}

.tab__label:hover {
  font-weight: 600;
}

@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(0.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-0.25rem);
  }
}
