.images-list__item--container {
  width: 212px;
  height: 128px;

  cursor: pointer;
}

.images-list__item--container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.images-list__item--hidden {
  display: none;
}

.draggable-modal {
  position: fixed;
  z-index: 1;
  max-height: 300px;
}

.draggable-modal button {
  background: transparent;
  border: none;
  position: absolute;
  right: 0;
  color: white;
}

.modal-image-preview {
  object-fit: cover;

  width: 100%;
  height: 100%;

  max-height: 600px;
  min-width: 600px;

  cursor: pointer;
}

.draggable-modal__toolbar {
  border: 1px solid rgba(229, 240, 234, 1);
  background: rgba(110, 11, 11, 1);
  height: 28px;
}

.slider-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  background: rgba(229, 240, 234, 1);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.slider-modal--hidden {
  display: none;
}

.images-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  gap: 26px 18px;

  padding-top: 61px;
}

/* Search */

.search-form {
  width: 100%;
  display: flex;
  justify-content: flex-start;

  padding-left: 24px;
  position: relative;
  border-bottom: 1px solid var(--color-primary);
}

.search-form__label {
  padding-top: 9px;
  padding-bottom: 5px;
  width: 100%;
}

.search-form__label::before {
  content: '';
  width: 28px;
  height: 23px;
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='23' viewBox='0 0 28 23' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M25.5264 10C25.5264 14.4183 21.9446 18 17.5264 18C13.1081 18 9.52635 14.4183 9.52635 10C9.52635 5.58172 13.1081 2 17.5264 2C21.9446 2 25.5264 5.58172 25.5264 10ZM27.5264 10C27.5264 15.5228 23.0492 20 17.5264 20C14.7519 20 12.2414 18.8701 10.4297 17.0454L1.05271 22.8503L0 21.1497L9.1598 15.4794C8.12705 13.9056 7.52635 12.023 7.52635 10C7.52635 4.47715 12.0035 0 17.5264 0C23.0492 0 27.5264 4.47715 27.5264 10Z' fill='%236E0B0B'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.search-form__input {
  border: none;
  padding-left: 40px;
  background: transparent;
  width: 100%;

  font-size: 17px;
  font-family: var(--font-family-base);
}

.search-form__input:focus {
  outline: none;
}

.search-form__autocomplete {
  display: block;
  position: absolute;

  width: 100%;
  left: 0;
  bottom: 0;
}

.search-form__autocomplete--hidden {
  display: none;
}

.autocomplete-list {
  position: absolute;
  width: 100%;
  list-style: none;

  background: var(--color-primary);

  padding: 0;
  margin: 0;
  padding-top: 31px;
  padding-bottom: 37px;
}

.autocomplete-list__item {
  color: var(--color-secondary);

  font-family: var(--font-family-base);
  font-size: 17px;
  line-height: 22.1px;

  cursor: pointer;

  padding-left: 64px;
  padding-bottom: 4px;
  padding-top: 6px;
}

.autocomplete-list__item:hover {
  color: var(--color-primary);
  background: var(--color-secondary);
}

.autocomplete-list__item + .autocomplete-list__item {
  padding-top: 11px;
}

/* Slider */
.slider-modal__swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide picture,
.swiper-slide img {
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;

  width: auto;
  height: auto;
}

.draggable-modal__close-button {
  cursor: pointer;

  color: var(--color-secondary);
  font-family: var(--font-family-base);
  font-size: 24px;
  line-height: 1;
  font-weight: 300;
}

.slider-modal__close-button {
  cursor: pointer;
  position: absolute;
  z-index: 10;

  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;

  font-size: 32px;
  font-weight: 300;
  color: var(--color-primary);
  font-family: var(--font-family-base);
}
