.news-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(443px, 1fr));
  gap: 60px 18px;

  list-style: none;
  
  padding: 0;
  margin: 0;
  margin-top: 87px;

  font-size: 14px;
  line-height: 18.94px;
}

.news__title {
  margin: 0;
  height: 28px;
  padding-left: 13px;
  padding-bottom: 10px;

  font-family: var(--font-family-karelia-bold);
  font-weight: 700;
  font-size: 14px;
  line-height: 18.94px;

  border-bottom: 1px solid var(--color-borders);
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.news__date {
  display: block;
  height: 34px;

  padding-top: 6px;
  padding-left: 13px;
  padding-bottom: 10px;

  border-bottom: 1px solid var(--color-borders);
}

.news__description {
  display: block;
  height: 120px;

  padding-top: 6px;
  padding-left: 13px;
  padding-bottom: 10px;
  padding-right: 5px;

  border-bottom: 1px solid var(--color-borders);

  overflow-y: auto;
}
