#projectView_outer {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.projectView_ScrollArticle {
  column-fill: auto;
  column-width: 416px;
  column-gap: 30px;
  height: 90%;

  margin-top: 0px;

  padding-top: 0px;
  padding-left: 10px;

  word-break: break-word;
  white-space: normal;
}

@media screen and (max-width: 800px) {
  .projectView_ScrollArticle {
    width: 100%;
    padding-right: 10px;
  }
}

.projectView_phantomColumn {
  height: 100%;
  width: 416px;
}

.projectView_ScrollArticle > p > img {
  display: none;
}

@media screen and (max-width: 800px) {
  .projectView_ScrollArticle > p > img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain; /* Updated */
  }
}
.projectView_imgCaptionMobile {
  display: none;
  font-size: 14px; 
  font-weight: 400;
  line-height: 18.48px;
  padding-bottom: 25px;
}

@media screen and (max-width: 800px) {
  .projectView_imgCaptionMobile {
    display: block;
    width: 100%;
    height: auto;
  }
}

.projectView_ScrollArticle > img {
  display: none;
}

.projectView_container {
  display: flex;
  background-color: transparent;
  height: calc(100vh - 120px);
  position: relative;
  background-color: var(--color-white);

  margin-top: 0px;
  border: none;
}

@media screen and (max-width: 800px) {
  .projectView_container {
    flex-direction: column;
    height: auto;
  }
}

.projectView_sideBar {
  display: flex;
  width: 443px; /* Adjust the width as needed */
  border: none;
  /* border: 1px solid #ccc; */
  box-sizing: border-box;
  height: 100%;
  background-color: transparent;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .projectView_sideBar {
    width: 100%;
  }
}

.projectView_cardSlot {
  width: 443px;
  height: 203px;
  background-color: transparent;
  margin-top: 85px;
}

@media screen and (max-width: 800px) {
  .projectView_cardSlot {
    width: 100%;
  }
}

.projectView_photoSlot {
  width: 443px;
  height: 305px;
}

@media screen and (max-width: 800px) {
  .projectView_photoSlot {
    display: none;
  }
}

.projectView_photo_caption {
  text-align: left;
  position: inherit;
  left: 0px;
  top: 0px;
  width: 100%;
  padding-left: 10px;
}

@media screen and (max-width: 800px) {
  .projectView_photo_caption {
    display: none;
  }
}

.swiper {
  height: 100%;
  width: 100%;
}

.swiper-wrapper {
  height: 100%;
  width: 100%;

  justify-content: flex-start;
  align-items: center;
  display: flex !important;
}

.swiper-slide {
  font: 40px Impact;

  height: max-content !important;
}

.swiper-slide > p {
  width: 100%;
  margin: 0;
  /* set it vertically centered */
}

.swiper-slide > p > picture {
  width: 100%;
}

.swiper-slide > p > picture > img {
  width: 100%;
  height: auto;
}

.projectView_blockText {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;

  border: none;
  /* border: 1px solid #ccc; */
}

@media screen and (max-width: 800px) {
  .projectView_blockText {
    padding: 0px;
  }
}

.projectView_navigation {
  width: 800px;
  height: 15px;
  position: absolute;
  right: 15.2px;
  bottom: 25px;
  background-color: transparent;
}

@media screen and (max-width: 800px) {
  .projectView_navigation {
    display: none;
  }
}

.navigation-button.right-button.nav-arrow-project-view{
  float: right;
  margin-left: 8px;
  transform: translateY(-5%);
}

.navigation-button.left-button.nav-arrow-project-view{
  float: right;
  margin-left: 8px;
  transform: translateY(-5%);
}

.projectView_navigationDigit {
  display: inline;
  background-color: transparent;
  border: none;
  float: right;
  color:#818181;
  font-weight: 400;
  font-family: 'Karelia Web Regular';

}

.projectView_navigationDigit:hover {
  background-color: aqua;
}

.active {
  font-weight: bold;
  color: var(--color-primary);
}

.projectView_navigationButtonNextCheckpoint {
  display: inline;
  background-color: transparent;
  border: none;
  float: right;
  color: var(--color-primary);
  font-weight: bold;
}

.projectView_Grid {
  display: grid;
  width: 100%;
  height: 600px;
  grid-template-areas:
    'card main'
    'pictures main'
    'caption main';
  grid-template-rows: 203px 305px 27px;
  grid-template-columns: 443px 1000px;
}

@media screen and (max-width: 800px) {
  .projectView_Grid {
    background-color: #0000ff;
  }
}

.projectView_Grid > card {
  grid-area: card;
  background-color: #f0f0f0;
}

.projectView_Grid > pictures {
  grid-area: pictures;
  background-color: #4cff00;
}

.projectView_Grid > navigation {
  grid-area: navigation;
  background-color: #ff0000;
}

.projectView_Grid > imgcaption {
  grid-area: caption;
  background-color: #ff6a00;
}

.projectView_Grid > main {
  grid-area: main;
  background-color: #0000ff;
}
