.publications {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(443px, 1fr));
  gap: 60px 18px;

  list-style: none;
  
  padding: 0;
  margin: 0;
  margin-top: 87px;

  font-size: 14px;
  line-height: 18.94px;
}

.publication__title {
  margin: 0px;

padding-top: 10px;
padding-left: 13px;
padding-right: 13px;
padding-bottom: 10px;

font-family: var(--font-family-karelia-bold);
font-weight: 700;
font-size: 14px;
line-height: 18.94px;

height: calc(2 * 18.94px + 11px);

border-bottom: 1px solid var(--color-borders);

display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
text-overflow: ellipsis;
white-space: normal;

word-break: keep-all;
  
}

.publication__year {

  height: 34px;

  padding-top: 6px;
  padding-left: 13px;
  padding-bottom: 10px;

  border-bottom: 1px solid var(--color-borders);
}

.publication__isbn {

  height: 34px;

  padding-top: 6px;
  padding-left: 13px;
  padding-bottom: 10px;

  border-bottom: 1px solid var(--color-borders);
}

.publication__description {
  height: 87px;

  padding-top: 6px;
  padding-left: 13px;
  padding-bottom: 10px;

  border-bottom: 1px solid var(--color-borders);

  overflow-y: scroll;
}

.publication__link {
  display: block;
  margin-top: 3px;
  padding-left: 13px;

  font-size: 14px;

  text-decoration: none;
  color: var(--color-primary);
}

.publication__link:hover {
  text-decoration: underline;
}