/*!!!!PELIGRO!!!!! rename relatedandmore stuff*/

.relatedAndMore_container {
  padding-top: 50px;
  background-color: var(--color-white);
  position: relative;
  top: -75px;
  background-color: transparent;
  pointer-events: none;
}

@media screen and (max-width: 800px) {
  .relatedAndMore_container {
    margin-top: 75px;
    background-color: var(--color-white);
  }
}


@media screen and (min-width: 800px) and (min-height: 800px) {
  .relatedAndMore_container {
    background-color: rgba(42, 165, 79, 0);
    margin-top: 0px;
  }
}
/*
.preview_related_and_more_projects_container{
    position: relative;
    width: 100%;
    height: 75px;

    top: -75px;
    background-color: transparent;;
    z-index: -9999;

    @media screen and (max-width: 800px){
      top: 0px;
      background-color: var(--color-white);
    }
  }*/

.related_projects_button {
  position: relative;
  top: -30px;

  height: 58px;
  width: 208px;

  pointer-events: all;
  z-index: 0; /*!!!!PELIGRO!!!!*/
  background-color: var(--color-secondary);
  border-style: none;
  color: var(--color-primary);

  
  line-height: 38px;
  display: inline-grid;
  align-items: self-end;
}

@media screen and (max-width: 800px) {
  .related_projects_button {
    position: relative;
    top: -0px;
  }
}

.related_projects_button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}

.more_projects_button {
  /* position: absolute;
    bottom: 35px; */
  position: absolute;
  top: -65px;

  height: 71px;
  width: 208px;

  z-index: 9999; /*!!!!PELIGRO!!!!*/
  background-color: var(--color-white);
  border-style: none;
  color: var(--color-primary);
}
