.relatedAndMore_container {
  padding-top: 50px;
  background-color: var(--color-white);
  position: relative;
  top: -54px;
  background-color: transparent;
  pointer-events: none;
}

@media screen and (max-width: 800px) {
  .relatedAndMore_container {
    margin-top: 54px;
    background-color: var(--color-white);
  }
}


@media screen and (min-width: 800px) and (min-height: 800px) {
  .relatedAndMore_container {
    top: -56px;
  }
}

.related_projects_button {
  position: absolute;
  top: -8px;

  height: 58px;
  width: 208px;

  pointer-events: all;
  z-index: 0; /*!!!!PELIGRO!!!!*/
  background-color: var(--color-secondary);
  border-style: none;
  color: var(--color-primary);
  
  line-height: 38px;
  display: inline-grid;
  align-items: self-end;
}

@media screen and (max-width: 800px) {
  .related_projects_button {
    position: absolute;
    top: -0px;
  }
}

.related_projects_button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
}

.more_projects_button {
  position: absolute;
  top: -65px;

  height: 71px;
  width: 208px;

  z-index: 9999; /*!!!!PELIGRO!!!!*/
  background-color: var(--color-white);
  border-style: none;
  color: var(--color-primary);
}
