.video-list {
  list-style: none;
  padding-left: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 83px 18px;

  margin-top: 97px;

  justify-content: center;
}

.video-list__item {
  cursor: pointer;

  display: flex;
  flex-direction: column;

  max-height: 100%;
  width: 443px;
}

.video-list__image {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  width: 100%;
  height: 123px;
}

.video-list__image::before {
  content: '';
  position: absolute;
  display: block;
  width: 22px;
  height: 24px;

  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);

  background: url('/assets/icons/play-button-icon.svg');
  background-repeat: no-repeat;
}

.video-list__image img {
  width: 100%;

  object-fit: contain;
}

.video-list__description {
  padding: 7px 12px;
  size: 14px;
  line-height: 18.2px;

  border-bottom: 1px solid var(--color-black);
  min-height: 70px;
  overflow: hidden;
}
