backend:
  name: git-gateway
  branch: master
#publish_mode: editorial_workflow

media_folder: 'src/assets'
public_folder: '/assets'

collections:
  - name: 'project'
    label: 'Project'
    folder: 'src/projects'
    create: true
    slug: '{{slug}}'
    fields:
      - { label: "ID",
          name: "id",
          widget: "uuid"
        }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Dates', name: 'dates', widget: 'string' }
      - {
          label: 'Link to original material',
          name: 'link',
          widget: 'string',
          required: false,
        }
      - {
          label: 'Collaborators',
          name: 'collaborators',
          widget: 'string',
          required: false,
        }
      - {
          label: 'Card description',
          name: 'cardDescription',
          widget: 'string',
        }
      - { label: 'Preview description', name: 'previewDescription', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
      - { label: 'PDF', name: 'PDF File', widget: 'file', required: false }
      - label: 'Related projects'
        name: 'relatedProjects'
        required: false
        widget: 'list'
        min: 1
        max: 3
        field:
          {
            label: 'Project',
            name: 'project',
            widget: 'relation',
            collection: 'project',
            value_field: 'id',
            search_fields: ['title'],
          }
  - name: 'publication'
    label: 'Publication'
    folder: 'src/publications'
    create: true
    slug: '{{slug}}'
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Year', name: 'year', widget: 'string' }
      - { label: 'ISBN', name: 'isbn', widget: 'string' }
      - {
          label: 'Thumbnail description',
          name: 'description',
          widget: 'string',
        }
      - {
          label: 'Link to publication',
          name: 'link',
          widget: 'string',
          required: false,
        }
  - name: 'news'
    label: 'News'
    folder: 'src/news'
    create: true
    slug: '{{slug}}'
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - {
          label: 'Thumbnail description',
          name: 'description',
          widget: 'string',
        }
      - { 
          label: "Date",
          name: "createdAt",
          widget: "datetime",
          date_format: "DD.MM.YYYY", 
          picker_utc: false,
        }
  - name: 'video'
    label: 'Video'
    folder: 'src/video'
    create: true
    slug: '{{slug}}'
    fields:
      - {
          label: 'Thumbnail description',
          name: 'description',
          widget: 'string',
        }
      - {
          label: 'Link to video',
          name: 'link',
          widget: 'string',
          required: true,
        }
