---
title: Sam Hopkins | Projects
layout: base.njk
slug: projects
---
<link rel="stylesheet" href="bundle.css">

<div class="cardcabinet_grid">
  <p> iteration1 </p>
  {% for project in collections.project %}
    {% assign previewURL = project.data.title | slug %}
    {% assign previewURL = '/preview/' | append: previewURL %}

    {% include "summary-card.njk" with project %}

    <!--content:
    {{project.data.title}}
    <hr>
    body:
    {{project.data.body}}
    <hr>-->
  {% endfor %}
</div>

