---
layout: base.njk
tags: preview
permalink: '/preview/{{ preview.title | slug }}/'
templateEngineOverride: md, njk
eleventyComputed:
  title: {{ preview.title }}
  slug: {{ preview.title | slug }}
pagination:
  data: projectWithImages
  alias: preview
  size: 1
  addAllPagesToCollection: true
---

{% set project = {
  data: {
      title: preview.title,
      dates: preview.dates,
      collaborators: preview.collaborators,
      cardDescription: preview.cardDescription
  }
} %} <!--!!!Peligro!!! Deleteme-->

<link rel="stylesheet" href="bundle.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />


<article>
  <div class='container' >
    <div class="projectPreview_Grid">
      <card>
        {% include 'summary-card.njk' %}
      </card>
      <pictures>
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            {% for image in preview.images %}
              <div class="swiper-slide">
                <img src='{{ image.url }}' alt='{{ image.alt }}' class="swiper-slide" >
              </div>
            {% endfor %}
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </pictures>
      <!--imgcaption>asd</imgcaption-->
      <main>
        <div class = "projectPreview_mainTextContainer">
          <div class="projectPreview_textContainer">
            <div id="projectPreview_outer">
              <div class="projectPreview_ScrollArticle">
                {{preview.previewDescription}}
              </div>
              <div class="projectPreview_phantomColumn" id = "buttontrigger">trigger</div>
            </div>
          </div>

          <div class="projectPreview_buttonFullProject_container" id="preview_buttonFullProject" >
            <a href={{ "/projects/project_" ~ preview.title | slug }}>
            full project →
            </a>
            <div class="projectPreview_buttonFullProject_arrowRight">
            </div>  
          </div>
        </div>
      </main>  
    </div>


  </div>
</article>

<script>
  const observer = new IntersectionObserver(entries => {
    let buttonFullProject = document.getElementById("preview_buttonFullProject");

    const isIntersectingValue = entries[0].isIntersecting;
    if(isIntersectingValue){
      console.log("Intersecting Start")
      buttonFullProject.style.height = "288px";
    }
    else{
      buttonFullProject.style.height = "61px";
    }
  })

  observer.observe(document.getElementById("buttontrigger"))
</script>

<!-- Horisontal scroll-->
<script>
  document
    .getElementById('projectPreview_outer')
    .addEventListener('wheel', function (e) {
      // Cross-browser wheel delta
      var delta = e.wheelDelta
        ? e.wheelDelta
        : -e.deltaY;
      this.scrollLeft -= (delta);
      e.preventDefault();
    }, false);
</script>

<script>
  function recalcPosition(){
    document.getElementById('buttontrigger').style.display = "none"
    const scrollLength = document.getElementById('projectPreview_outer').scrollWidth;
    console.log(scrollLength)

    if(scrollLength<=1366){
      document.getElementById('buttontrigger').style.left = (1365 - 200-50) + "px"; //!!!!PELIGRO!!!! recalculate it
      document.getElementById('buttontrigger').style.display = "block"
      
      console.log(document.getElementById('buttontrigger').style.left)
    }
    else{
      document.getElementById('buttontrigger').style.left = (scrollLength) + 50 + "px"; //!!!!PELIGRO!!!! recalculate it
      document.getElementById('buttontrigger').style.display = "block"
    }
  }
    

  window.addEventListener('resize', function() {
    recalcPosition();
  });
  window.addEventListener('load', function() {
    recalcPosition();
  });
</script>


<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 2,
    speed: 1000,
    autoplay: {
      delay: 2000,
      pauseOnMouseEnter: true,
    },
    pagination: {
      el: ".swiper-pagination",
      type: "progressbar",
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>