---
title: Sam Hopkins | Projects
layout: base.njk
description: 'Sam Hopkins projects'
slug: projects
---
<div class='container' >
  <div class="mainPage_scrollBox">
    <div class="cardcabinet_grid">
      {% assign sortedProjects = collections.project | sortByDate | reverse %}
      {% for project in sortedProjects %}
        {% assign previewURL = project.data.title | slug %}
        {% assign previewURL = '/preview/' | append: previewURL %}
        {% assign card_data = project %}
        {% include "summary-card.njk" with card_data %}
      {% endfor %}
    </div>
  </div>
</div>
