---
title: Sam Hopkins | Publications
layout: base.njk
slug: publications
---
<div class="container">
  <ul class="publications">
    {% assign sortedPublications = collections.publications | sort : 'data.year' | reverse %}
    {% for publication in sortedPublications %}
      <li class="publication" publication_img="{{publication.data.image}}">
        <h3 class="publication__title">{{ publication.data.title }}</h3>
        <div class="publication__year">Year: {{ publication.data.year }}</div>
        <div class="publication__isbn">ISBN: {{ publication.data.isbn }}</div>
        <div class="publication__description">{{ publication.data.description }}</div>
        <a class="publication__link" href="{{ publication.data.link }}">link to publication</a>
        {% if publication.data.image %}
          <div class="publication__image publications-popup">
            <img src="{{ publication.data.image }}" alt="Publication Image">
          </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>